<template id="situ-group-assignment-template">
  <style>
    {COMPONENTS_CSS}
  </style>
  <div class="situ-group-container">
    <div id="unjoined-view" class="situ-group-alert">
      セッションに参加してください
    </div>

    <div id="assigned-view" style="display: none;">
      <div class="situ-group-title" id="group-title">グループ分け</div>
      <div class="situ-group-card">
        <div class="situ-group-label">あなたのグループ</div>
        <div class="situ-group-value" id="group-value">-</div>
      </div>
    </div>
  </div>
</template>
